{% extends "base.html" %}
{% block content %}
	<h1> {{ title }} </h1>
	{% if user %}
		<p> Welcome, {{ user }}. Enjoy {{ title }} </p>
		</hr>
		<form name = "select_version" action="/version_select" method="post">
		<select>
		{% for rel in releases %}
		<option value = "{{ rel }}"> {{ rel }} </option>
		{% endfor %}
		</select>
		<input type="submit" value="Select Version"/>
		</form>
		{% if version %}
			<p> Version {{ version }} </p>		
		{% else %}
		<!--Get rid of this form, link through future CheckList.py file -->
		<form name="version_num" action="/version_create" method="post">
  		<div class="input"><span class="label">Enter a Version #</span>
    	<input type="text" name="ff_version"/>
  		</div>
  		<div class="actions">
    	<input type="submit" value="Load Version"/>
  		</div>
		</form>
		{% endif %}
		<p id="qa_label">Q.A. Sign Off
		<!-- This form doesn't perform any data collection, do I need to add to Python file? -->
  		<form name="qa_sign" action="/qa_signoff" method="post"> 
    	<input type="submit" id="qa_so" value="Sign Off" disabled="disabled"/>
  		</form>
  		</p>

  		<p id="rc_label">Release Channels Sign Off</p>
  		<form name="rc_sign" action="/rc_signoff" method="post">
  		<input type="submit" id="rc_so" value="RC Sign Off"/>
  		</p>

  		<p id="apk_label"> APKs Downloaded </p>
  		<form name="apk_dl" action="/apk_dl" method="post">
  		<input type="submit" id="apk_dl" value="APKs Downloaded"/>
  		</p>

  		<p id="upload_gp"> Uploaded to Google Play </p>
  		<form name="upload_gp" action="/upload_gp" method="post">
  		<input type="submit" id="upload_gp" value="Uploaded to Google Play"/>
  		</p>

  		<p id="upload_yandex"> Uploaded to Yandex </p>
  		<form name="upload_yandex" action="/upload_yandex" method="post">
  		<input type="submit" id="upload_yandex" value="Uploaded to Yandex"/>
  		</p>

  		<p id="rd_qi"> Sent Instructions to R-D to Enable Update to 25% </p>
  		<form name="rd_qi" action="/rd_qi" method="post">
  		Percent Update: <input type="text" name ="percent_update"/>
  		<input type="submit" id="rd_qi" value="Sent Email to R-D to Enable Update"/>
  		</p>






		{% if qa_sign %}
		<script>
  		var label = document.getElementById("qa_label");
  		label.style.setProperty("text-decoration", "line-through");
  		var sign_off = document.getElementById("qa_so");
  		sign_off.value = "Revoke Sign Off";
  		console.log("Is this even working?");
		</script>
		{% endif %}

		{% if rc_sign %}
		<script>
		var label = document.getElementById("rc_label");
		label.style.setProperty("text-decoration", "line-through");
		var sign_off = document.getElementById("rc_so");
		sign_off.value("Revoke Sign Off");
		</script>
		{% endif %}

		{% if apk_dl %}
		<script>
		var label = document.getElementById("apk_dl");
		label.style.setProperty("text-decoration", "line-through");
		var sign_off = document.getElementById("apk_dl");
		sign_off.value("APKs not downloaded");
		</script>
		{% endif %}

		{% if upload_gp %}
		<script>
		var label = document.getElementById("upload_gp");
		label.style.setProperty("text-decoration", "line-through");
		var sign_off = document.getElementById("upload_gp");
		sign_off.value("Not Uploaded to Google Play");
		</script>
		{% endif %}

		{% if upload_yandex %}
		<script>
		var label = document.getElementById("upload_yandex");
		label.style.setProperty("text-decoration", "line-through");
		var sign_off = document.getElementById("upload_yandex");
		sign_off.value("Not Uploaded to Yandex");
		</script>
		{% endif %}


	{% else %}
		<p> Please sign in to {{ title }} </p>
	{% endif %}
{% endblock %}